@font-face {
  font-family: SpaceMono;
  src: url('../fonts/Space/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/Space/SpaceGrotesk-Regular.ttf");
}

@font-face {
    font-family: SpaceGrotesk-Medium;
    src: url("../fonts/Space/SpaceGrotesk-Medium.ttf");
}

:root {
  --abouttor-yec-page-bg-color: #0E0625;
  --abouttor-yec-heading-color: #C0FF00;
  --abouttor-yec-heading-alt-color: #FFA3FF;
  --abouttor-yec-button-color: #000000;
  --abouttor-yec-button-bg-color: #C0FF00;
  --abouttor-yec-button-hover-bg-color: #A8DF00;
  --abouttor-yec-button-active-bg-color: #90BF00;
  --abouttor-yec-donate-text-color: #FAF5DF;
}

/* Don't move down content w banner. Navbar isn't fixed. */
.page {
  padding-top: 0 !important;
}

.banner {
  background-color: var(--abouttor-yec-page-bg-color);
  z-index: 100000000000000 !important;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  //min-height: 360px;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-content {
  height: auto;
  min-height: 360px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

#banner-header {
    width: 100%;
    display: flex;
}

.banner-content-spacer {
    margin-top: auto;
    margin-bottom: auto;
    gap: 36px;
}

.banner-content-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.banner-main-graphics {
  position: relative;
}

.banner-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: relative;
  top: -20px;
}

.banner-foreground-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  left: -10px;
  top: -25px;
}
.banner-sub-headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, -0.04, 0, 1, 0, 0);
  position: relative;
  mix-blend-mode: hard-light
}
.banner-sub-heading-bold {
  font-family: 'SpaceGrotesk-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 105%;
  letter-spacing: -0.05em;
  color: var(--abouttor-yec-heading-alt-color);
  margin: 0;
}
.banner-sub-heading-light {
  font-family: 'SpaceGrotesk', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 105%;
  letter-spacing: -0.05em;
  color: var(--abouttor-yec-heading-color);
  margin: 0;
}

.banner-heading {
  color: var(--abouttor-yec-heading-color);
  font-family: 'SpaceMono', monospace;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  transform: matrix(1, 0, 0.03, 1, 0, 0);
}

.yec-background-image {
  transform: rotate(-2.25deg);
  opacity: 70%;
}

.yec-foreground-image {
  mix-blend-mode: hard-light
}

html[dir="rtl"] {
  .banner-content-2 {
    flex-direction: row-reverse;
  }
  .yec-background-image {
    transform: rotate(2.25deg);
  }
  .banner-sub-headings {
    transform: matrix(1, 0.04, -0.08, 1, 0, 0);
  }
  .yec-foreground-image {
    transform: scaleX(-1);
  }
  .banner-foreground-text {
    left: auto;
    right: -10px;
  }
}

.banner-donate-text {
  color: var(--abouttor-yec-donate-text-color);
  font-family: 'SpaceMono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  width: 284px;
  height: 75px;
}

.banner-donate-button {
  color: var(--abouttor-yec-button-color);
  background-color: var(--abouttor-yec-button-bg-color);
  text-decoration: none;
  line-height: 1.4;
  padding: 13px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.banner-donate-button:hover {
  background-color: var(--abouttor-yec-button-hover-bg-color);
  color: var(--abouttor-yec-button-color);
  text-decoration: none;
}

.banner-donate-button:active {
  background-color: var(--abouttor-yec-button-active-bg-color);
  color: var(--abouttor-yec-button-color);
  text-decoration: none;
}

.banner-donate-button:focus-visible {
  outline: 2px solid var(--abouttor-yec-button-bg-color);
  outline-offset: 2px;
  color: var(--abouttor-yec-button-color);
  text-decoration: none;
}

@include media-breakpoint-down(sm) {
  .banner-content {
    align-items: center;
  }
  .banner-content-2 {
    display: block;
  }
  .banner-content-spacer {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .banner-cta {
    top: 20px;
    gap: 20px;
    align-items: center;
  }
  .banner-main-graphics {
    height: 100px;
  }
  .banner-foreground-text {
    gap: 8px;
  }
  .yec-background-image {
    width: 300px;
  }
  .yec-foreground-image {
    width: 97px;
  }
  .banner-sub-headings {
    top: 8px;
  }
  .banner-sub-heading-bold {
    font-size: 32px;
  }
  .banner-sub-heading-light {
    font-size: 32px;
  }
  .banner-heading {
    font-size: 28px;
  }
  .banner-donate-text {
    order: 1;
    font-size: 14px;
    height: auto;
    text-align: center;
    font-weight: 700;
  }
  .banner-donate-button {
    order: 0;
    padding: 9px 96px;
  }
}

.banner-close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  z-index: 1;
  visibility: inherit;
  background-color: #FAF5DF;
  border-radius: 6px;
  color: #05161C !important;
  background-image: url(images/x.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-close:hover {
  background-color: var(--abouttor-yec-heading-color);
}

.eoy-sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#trigger:checked ~ #banner-header, .banner > #trigger:checked, #trigger:checked + label {
  display: none;
  visibility: hidden;
}
